body{
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  overflow: hidden
}
#debugger{
  position: absolute;
  top: 0;
  right: 0;
  width: 190px;
  height: 200px;
  padding: 10px;
  margin: 10px;
  background: #DDD;
  border: 1px solid #CCC;
  z-index: 100;
  /* tests */
  display: none
}
#touchArea{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #CCC;
  z-index: 99;
}
#fireDiv{
  position: absolute;
  top: -200px;
  left: -200px;
  width: 100px;
  height: 100px;
  background: red;
  z-index: 100;
  border-radius: 50px
}
#dragOn{
  position: absolute;
  top: 100px;
  left: 50%;
  width: 100px;
  height: 100px;
  background: yellow;
  z-index: 98;
  box-shadow: 0 0 30px 5px #999;
  border-radius: 50px
}
#video{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#video video{
  width: 100%
}
.videoPlay{
  z-index: 10000 !important;
  background: transparent;
}
